<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>仪表盘</title>
	<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/admin.css">
</head>
<body>
	<div class="nav">
		<ul class="nav-menu">
			<ul class="nav-menu-list">
				<a href="/admin/posts"><li id="nav-allposts">文章</li></a>
			</ul>
		</ul>
	</div>
	<div class="header"></div>
	<div class="toast"></div>
	<div class="main">