<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" type="text/css" href="/libs/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>

<body>
    <nav class="sidebar">
        <ul>
            <a href="/">
                <li><i class="fa fa-university" aria-hidden="true"></i> <span> 首頁</span></li>
            </a>
            <a href="/archive">
                <li><i class="fa fa-briefcase" aria-hidden="true"></i> <span> 歸檔</span></li>
            </a>
            <a href="/tags/Javascript">
                <li><i class="fa fa-tags" aria-hidden="true"></i> <span> 分類</span></li>
            </a>
            <a href="/lab">
                <li><i class="fa fa-heartbeat" aria-hidden="true"></i> <span> 項目</span></li>
            </a>
            <a href="/books">
                <li><i class="fa fa-book" aria-hidden="true"></i> <span> 書單</span></li>
            </a>
        </ul>
        <ul>
            <a href="/archive">
                <li><i class="fa fa-wechat" aria-hidden="true"></i> <span> 微信</span></li>
            </a>
            <a href="http://weibo.com/1739214550/profile?topnav=1&wvr=6&is_all=1" target="blank">
                <li><i class="fa fa-weibo" aria-hidden="true"></i> <span> 微博</span></li>
            </a>
            <a href="https://github.com/weaponhe" target="blank">
                <li><i class="fa fa-github-alt" aria-hidden="true"></i> <span>  Git</span></li>
            </a>
            <a href="mailto:weaponhe@126.com">
                <li><i class="fa fa-envelope" aria-hidden="true"></i> <span> 邮箱</span></li>
            </a>
        </ul>
    </nav>
    <div class="wrapper">
        <div class="header">
            <!-- <div class="breadcrumb">
                <ul>
                    <a href="/"><li>Weapon</li></a>
                </ul>
            </div> -->
            <div class="search"></div>
        </div>
