ul, ol {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    color: #4a75b5;
    text-decoration: none;
}

a:hover,
a.focus,
a.active {
    color: indianred;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "PingFang SC", "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Microsoft Yahei", "微软雅黑", STHeiti, "华文细黑", sans-serif;
    color: #666;
    background-color: #ededed;
    overflow-x: hidden;
}

/*
nav =============*/
.nav {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 20rem;
    background-color: #FFF;
    transition: width 0.3s;
    overflow: auto;
    z-index: 10;

}

.nav a {
    color: #666;
}

.mini .nav {
    width: 5rem;
}

/*
nav-toggle =============*/
.nav-toggle {
    height: 3rem;
    line-height: 3rem;
    background-color: #222;
    text-align: center;
    color: #EEE;
}

.nav-toggle:hover {
    cursor: pointer;
}

/*
nav-profile =============*/
.nav-profile {
    text-align: center;
    margin-top: 1rem;
    transition: margin-top 0.3s;
}

.nav-profile-img {
    width: 6rem;
    border-radius: 50%;
    transition: width 0.3s;
}

.mini .nav-profile-img {
    width: 3rem;
}

.mini .nav-profile-name {
    display: none;
}

/*
nav-mainmenu =============*/
.nav-mainmenu {
    padding: 1rem;
}

.mini .nav-mainmenu {
    padding: 1rem 0;
}

.mini .nav-mainmenu-ul {
    width: 100%;
}

.nav-mainmenu-ul li a {
    text-align: center;
    display: block;
    padding: 1rem 1.5rem;
    white-space: nowrap;
    transition: all ease .1s;
}

.mini .nav-mainmenu-ul li a {
    padding-left: 0;
    padding-right: 0;
}

.nav-mainmenu-ul li a i {
    font-size: 2rem;
    margin-right: 1rem;
}

.mini .nav-mainmenu-ul li a i {
    margin-right: auto;
}

.nav-mainmenu-ul li a span {
    font-size: 1.5rem;
}

.mini .nav-mainmenu-ul li a span {
    display: none;
}

.nav-mainmenu-ul li a:hover {
    background-color: #555;
    color: #FFF;
    cursor: pointer;
}

@media only screen and (min-width: 30.0625rem) and (max-width: 70em) {

    .nav {
        width: 10rem;
        transition: none;
    }

    .mini .nav {
        width: 5rem;
    }

    .nav-profile-img {
        width: 3rem;
    }

    .nav-profile-name {
        display: none;
    }

    .nav-mainmenu {
        padding-left: 0;
        padding-right: 0;
    }

    .nav-mainmenu-ul {
        width: 100%;
    }

    .nav-mainmenu-ul li a {
        padding: 1rem 0;
    }
}

@media only screen and (max-width: 30em ) {

    .nav {
        top: auto;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100% !important;
        min-height: 3rem;
        box-shadow: 0 0 5px #333;
    }

    .nav-toggle {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }

    .nav-profile {
        display: none;
    }

    .nav-mainmenu {
        padding-bottom: 4rem;
    }

    .mini .nav-mainmenu {
        display: none;
    }
}

/*
main =============*/
.main {
    position: absolute;
    top: 3rem;
    left: 26rem;
    right: 6rem;
    transition: left 0.3s, right 0.3s;
    min-height: 100%;
}

.mini .main {
    left: 18.5rem;
    right: 13.5rem;
}

@media only screen and (max-width: 70em) {
    .main {
        left: 12.5rem;
        right: 2.5rem;
        transition: none;
    }

    .mini .main {
        left: 10rem;
        right: 5rem;
    }
}

@media only screen and (max-width: 30em ) {

    .main {
        left: 2rem;
        right: 2rem;
        top: 1rem;
    }

    .mini .main {
        left: 2rem;
        right: 2rem;
    }
}

/*
post =============*/
.main-postlist {
    position: absolute;
    left: 0;
    width: 78%;
}

.main-postlist:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: calc(100% + 3rem);
    content: ' ';
    width: 10px;
    height: 100%;
    border-radius: 5px;
    background-color: rgba(6, 6, 6, 0.3);
}

.main-postlist-post {
    position: relative;
    border-radius: 5px;
    box-shadow: 0 0 10px #ccc;
    background-color: #FFF;
    /*min-height: 10rem;*/
    padding-top: 2rem;
}

.main-postlist-post:after {
    content: ' ';
    position: absolute;
    top: 2rem;
    left: 100%;
    width: 0;
    height: 0;
    border: 1rem solid transparent;
    border-left-color: #FFF;
    box-shadow: 0 0 10px #ccc inset;
}

.main-postlist-post + .main-postlist-post {
    margin-top: 2rem;
}

.main-postlist-post-header {
    padding: 0 2rem;
}

.main-postlist-post-header h1 {
    font-size: 2rem;
    margin: 0;
}

.main-postlist-post-header ul {
    overflow: hidden;
}

.main-postlist-post-header ul li {
    font-size: 1rem;
    line-height: 1rem;
    float: left;
    margin-right: 1rem;
    padding: 0.3rem 0.7rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.main-postlist-post-header ul li:hover {
    cursor: pointer;
}

.main-postlist-post-content {
    font-size: 1.5rem;
    line-height: 2rem;
    /*text-indent: 2em;*/
    padding: 0 2rem;
    clear: both;
}

.main-postlist-post-footer {
    font-size: 1rem;
    padding: 1rem 2rem;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.main-postlist-post:before {

}

.main-postlist-post:after {

}

.main-postlist-post-time {
    position: absolute;
    top: 1rem;
    left: calc(100% + 6rem);
}

.main-postlist-post-time-year {
    font-size: 1rem;
    color: #aaa;
}

.main-postlist-post-time-monthday {
    font-size: 2rem;
    white-space: nowrap;
}

@media only screen and (max-width: 70em) {
    .main-postlist {
        width: 100%;
    }

    .main-postlist:after {
        display: none;
    }

    .main-postlist-post:after {
        display: none;
    }

    .main-postlist-post-time {
        position: static;
        padding: 0 2rem;
        color: #aaa;
        font-size: 0;
    }

    .main-postlist-post-time-year {
        font-size: 1rem;
    }

    .main-postlist-post-time-monthday {
        font-size: 1rem;
    }

    .main-postlist-post-time-monthday:before {
        content: '-';
    }
}

@media only screen and (max-width: 30em ) {
}

/*
post =============*/
.post-title {
    font-size: 2.5rem;
    margin: 1rem 0 0.2rem;
}

.post-meta {
    margin-bottom: 1.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px dashed #aaa;
}

/*
archive =============*/
.main-archive {
    width: 70%;
    margin: 0 auto;
    font-family: Georgia, serif;
}

.archive-year {
    text-align: center;
    border-bottom: 1px dashed #aaa;
    padding-bottom: 1rem;
    margin: 0 auto 1rem;
    font-size: 2rem;
}

.archive-post {
    padding: 0.3rem 1rem;
    list-style-type: square;
}

.archive-post-title {
    font-size: 1.6rem;
}

.archive-post-time:before {
    content: '(';
}

.archive-post-tag:before {
    content: ' · 标签:';
}

.archive-post-tag a {
    color: #666;
}

.archive-post-tag a:hover,
.archive-post-tag a:focus,
.archive-post-tag a:active {
    color: indianred;
}

.archive-post-tag:after {
    content: ')';
}

@media only screen and (max-width: 30em ) {
    .main-archive {
        width: 100%;
    }

    .archive-year {
        font-size: 2rem;
    }

    .archive-post-meta {
        display: none;
    }

}

/*
tag =============*/
.main-tag {
    width: 70%;
    margin: 0 auto;
    font-family: Georgia, serif;
}

.tag_panel {
    background-color: #f5f5f5;
    border-radius: 2px;
    padding: 15px;
    font-size: 1.5rem;
    margin-bottom: 2.5rem;
}

.tag_list a {
    margin: 0 0.5rem;
}

@media only screen and (max-width: 30em ) {
    .main-tag {
        width: 100%;
    }
}

/*
demo =============*/
.main-demo {
    font-size: 0;
    /*width: 100%;*/
    /*margin: 0 auto;*/
}

.main-project {
    font-size: 0;
}

.showcase {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
}

.card {
    height: 15rem;
    box-shadow: 0 0 10px #ccc;
    background-color: #FFF;
    font-size: 1rem;
    transition: 0.3s;
    margin: 1em;
    flex: 1 1 24%;
}

.card:hover {
    box-shadow: 0 0 50px #999;
}

.card:before {
    content: ' ';
    float: right;
    right: 0;
    width: 0;
    height: 0;
    border: 2rem solid transparent;
    border-right-color: #0084b4;
    border-top-color: #0084b4;
}

@media only screen and (max-width: 90rem) {
    .card {
        width: 32%;
    }
}

@media only screen and (max-width: 65rem) {
    .card {
        width: 50%;
    }
}

@media only screen and (max-width: 50rem) {
    .card {
        width: 100%;
    }
}

.card-header {
    margin: 0;
    padding: 1rem 4rem 0 1.5rem;
    line-height: 3rem;
    height: 3rem;
    font-size: 2.5rem;
    color: #0084b4;
    vertical-align: middle;
    overflow: hidden;
    white-space: nowrap;
}

.card-content {
    margin: 0;
    padding: 1rem 1.5rem 0.5rem;
    font-size: 1.5rem;
}

.card-header-name {
    vertical-align: middle;
}

.card-header-tag {
    font-size: 0.8rem;
    padding: 0.2rem 0.5rem;
    border-radius: 5px;
    vertical-align: middle;
    background-color: #0084b4;
    color: #FFF;
}

.main-book {
    width: 60%;
    margin: 0 auto;
}

.main-book .card {
    width: 100%;
    height: auto;
    border: 1px solid #ddd;
    box-shadow: none;
    border-radius: 5px;
    text-align: center;
    margin-left: 0;
}

.main-book .card:before {
    display: none;
}

.main-book .card-header {
    font-size: 2rem;
    line-height: 2rem;
    height: 2rem;
    background-color: #f5f5f5;
    padding-bottom: 1rem;
    border-bottom: 1px solid #ddd;
}

.main-book img {
    display: block;
    width: 100%;
}

.main-book table {
    table-layout: fixed;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 1px;
    border-collapse: collapse;

}

.main-book table td {
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-width: 0px 1px 1px 0px;
}

@media only screen and (max-width: 65rem) {
    .main-book {
        width: 100%;
    }
}

@media only screen and (max-width: 30em ) {
    .book-img {
        display: none;
    }
}


