.tag_wrapper {
    margin: 0 150px;
}
.tag_wrapper .tag_panel {
    background-color: #f5f5f5;
    border-radius: 2px;
    padding: 15px;
}
.tag_wrapper .tag_title {
    display: inline-block;
    margin-right: 10px;
}
.tag_wrapper .tag_list {
    display: inline-block;
}
.tag_wrapper .tag_list a {
    margin: 0 5px;
    display: inline-block;
}