<% include header %>
<div class="main-demo">
    <a class="card" href="#">
        <h1 class="card-header">
            <span class="card-header-name">Domix</span>
            <span class="card-header-tag">JS</span>
        </h1>
        <p class="card-content">A toolkit of Dom management</p>
    </a>
    <a class="card" href="#">
        <h1 class="card-header">
            <span class="card-header-name">Domix</span>
            <span class="card-header-tag">JS</span>
        </h1>
        <p class="card-content">A toolkit of Dom management</p>
    </a>
    <a class="card" href="#">
        <h1 class="card-header">
            <span class="card-header-name">Domix</span>
            <span class="card-header-tag">JS</span>
        </h1>
        <p class="card-content">A toolkit of Dom management</p>
    </a><a class="card" href="#">
        <h1 class="card-header">
            <span class="card-header-name">Domix</span>
            <span class="card-header-tag">JS</span>
        </h1>
        <p class="card-content">A toolkit of Dom management</p>
    </a><a class="card" href="#">
        <h1 class="card-header">
            <span class="card-header-name">Domix</span>
            <span class="card-header-tag">JS</span>
        </h1>
        <p class="card-content">A toolkit of Dom management</p>
    </a><a class="card" href="#">
        <h1 class="card-header">
            <span class="card-header-name">Domix</span>
            <span class="card-header-tag">JS</span>
        </h1>
        <p class="card-content">A toolkit of Dom management</p>
    </a><a class="card" href="#">
        <h1 class="card-header">
            <span class="card-header-name">Domix</span>
            <span class="card-header-tag">JS</span>
        </h1>
        <p class="card-content">A toolkit of Dom management</p>
    </a><a class="card" href="#">
        <h1 class="card-header">
            <span class="card-header-name">Domix</span>
            <span class="card-header-tag">JS</span>
        </h1>
        <p class="card-content">A toolkit of Dom management</p>
    </a><a class="card" href="#">
        <h1 class="card-header">
            <span class="card-header-name">Domix</span>
            <span class="card-header-tag">JS</span>
        </h1>
        <p class="card-content">A toolkit of Dom management</p>
    </a><a class="card" href="#">
        <h1 class="card-header">
            <span class="card-header-name">Domix</span>
            <span class="card-header-tag">JS</span>
        </h1>
        <p class="card-content">A toolkit of Dom management</p>
    </a><a class="card" href="#">
        <h1 class="card-header">
            <span class="card-header-name">Domix</span>
            <span class="card-header-tag">JS</span>
        </h1>
        <p class="card-content">A toolkit of Dom management</p>
    </a><a class="card" href="#">
        <h1 class="card-header">
            <span class="card-header-name">Domix</span>
            <span class="card-header-tag">JS</span>
        </h1>
        <p class="card-content">A toolkit of Dom management</p>
    </a><a class="card" href="#">
        <h1 class="card-header">
            <span class="card-header-name">Domix</span>
            <span class="card-header-tag">JS</span>
        </h1>
        <p class="card-content">A toolkit of Dom management</p>
    </a><a class="card" href="#">
        <h1 class="card-header">
            <span class="card-header-name">Domix</span>
            <span class="card-header-tag">JS</span>
        </h1>
        <p class="card-content">A toolkit of Dom management</p>
    </a>


</div>
<% include footer %>