<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/iconfont.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body class="mini">

<nav class="nav">
    <div class="nav-toggle"><i class="iconfont">&#xe622;</i></div>
    <div class="nav-profile">
        <a href="/">
            <img class="nav-profile-img" src="/img/avatar.jpg"
                 alt="Weapon">
            <h1 class="nav-profile-name">Weapon</h1>
        </a>
    </div>
    <div class="nav-mainmenu clearfix">
        <ul class="nav-mainmenu-ul">
            <li><a href="/"><i class="iconfont">&#xe620;</i><span>首 页</span></a></li>
            <li><a href="/archive"><i class="iconfont">&#xe618;</i><span>归 档</span></a></li>
            <li><a href="/tag"><i class="iconfont">&#xe614;</i><span>分 类</span></a></li>
            <li><a href="/book"><i class="iconfont">&#xe61a;</i><span>书 单</span></a></li>
            <li><a href="/project"><i class="iconfont">&#xe607;</i><span>项 目</span></a></li>
            <li><a href="/demo"><i class="iconfont">&#xe61d;</i><span>Demo</span></a></li>
            <li><a href="https://github.com/weaponhe"><i class="iconfont">&#xe613;</i><span>Github</span></a></li>
        </ul>
        <!--<ul class="nav-mainmenu-ul">-->
        <!--<li><a href="https://github.com/weaponhe"><i class="iconfont">&#xe613;</i><span>Github</span></a></li>-->
        <!--<li><a href="http://weibo.com/1739214550/profile?topnav=1&wvr=6"><i class="iconfont">-->
        <!--&#xe615;</i><span>微 博</span></a></li>-->
        <!--<li><a href="/wechat"><i class="iconfont">&#xe60a;</i><span>微 信</span></a></li>-->
        <!--<li><a href="mailto://weaponhe@126.com"><i class="iconfont">&#xe608;</i><span>邮 箱</span></a></li>-->
        <!--</ul>-->
    </div>
</nav>

<div class="main">