<% include header %>
<div class="main-project">
    <a class="card" href="#">
        <h1 class="card-header">
            <span class="card-header-name">Blog</span>
        </h1>
        <p class="card-content">我的博客。</p>
    </a><a class="card" href="#">
        <h1 class="card-header">
            <span class="card-header-name">Blog</span>
        </h1>
        <p class="card-content">我的博客。</p>
    </a><a class="card" href="#">
        <h1 class="card-header">
            <span class="card-header-name">Blog</span>
        </h1>
        <p class="card-content">我的博客。</p>
    </a><a class="card" href="#">
        <h1 class="card-header">
            <span class="card-header-name">Blog</span>
        </h1>
        <p class="card-content">我的博客。</p>
    </a><a class="card" href="#">
        <h1 class="card-header">
            <span class="card-header-name">Blog</span>
        </h1>
        <p class="card-content">我的博客。</p>
    </a><a class="card" href="#">
        <h1 class="card-header">
            <span class="card-header-name">Blog</span>
        </h1>
        <p class="card-content">我的博客。</p>
    </a><a class="card" href="#">
        <h1 class="card-header">
            <span class="card-header-name">Blog</span>
        </h1>
        <p class="card-content">我的博客。</p>
    </a><a class="card" href="#">
        <h1 class="card-header">
            <span class="card-header-name">Blog</span>
        </h1>
        <p class="card-content">我的博客。</p>
    </a><a class="card" href="#">
        <h1 class="card-header">
            <span class="card-header-name">Blog</span>
        </h1>
        <p class="card-content">我的博客。</p>
    </a><a class="card" href="#">
        <h1 class="card-header">
            <span class="card-header-name">Blog</span>
        </h1>
        <p class="card-content">我的博客。</p>
    </a><a class="card" href="#">
        <h1 class="card-header">
            <span class="card-header-name">Blog</span>
        </h1>
        <p class="card-content">我的博客。</p>
    </a><a class="card" href="#">
        <h1 class="card-header">
            <span class="card-header-name">Blog</span>
        </h1>
        <p class="card-content">我的博客。</p>
    </a><a class="card" href="#">
        <h1 class="card-header">
            <span class="card-header-name">Blog</span>
        </h1>
        <p class="card-content">我的博客。</p>
    </a><a class="card" href="#">
        <h1 class="card-header">
            <span class="card-header-name">Blog</span>
        </h1>
        <p class="card-content">我的博客。</p>
    </a><a class="card" href="#">
        <h1 class="card-header">
            <span class="card-header-name">Blog</span>
        </h1>
        <p class="card-content">我的博客。</p>
    </a>

</div>
<% include footer %>